body {
    zoom: 1.8;
    background: linear-gradient(270deg, rgb(210, 210, 243), rgb(232, 238, 240), rgb(213, 213, 243)); 
}
header {
    position: sticky;
    top: 0;
    background: linear-gradient(270deg, rgb(210, 210, 243), rgb(232, 238, 240), rgb(213, 213, 243)); 
}
nav {
    position: sticky;
    top: 40px;
    background: linear-gradient(270deg, rgb(210, 210, 243), rgb(232, 238, 240), rgb(213, 213, 243)); 
}
hr {
    position: sticky;
    top: 73px;
    background: linear-gradient(270deg, rgb(194, 194, 232), rgb(215, 232, 238), rgb(200, 200, 240)); 
}
img {
    width: 50px; height: 40px;
    margin: 0 20px 0 20px;
    border-radius: 50%;
    float: left;
    box-shadow: 2px -2px 4px rgb(85, 100, 150);
}
h1 {
    color: rgb(122, 100, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    text-shadow: 1px -2px 2px black;
}
h2 {
    color: rgb(128, 100, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    font-size: 80%;
    margin: 20px;
    line-height: 150%;
}
input {
    padding: 0;
    width: 140px; height: 20px;
}
.calculation {
    position: relative;
    right: 30%;
}
