table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    border-spacing: 1px 2px;
    text-align: center;
    border-radius: 8px;
}
th {
    font-size: 14px;
    background: #759ec1;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 3px;
}
td {
    border-radius: 3px;
}
tr:nth-child(odd) {
    background: #b6d1e9;
}
tr:nth-child(even) {
    background: #8db2d4;
}
