.cart-wrapper {
    position: fixed;
    top: 10%; bottom: 10%;
    left: 10%; right: 10%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: auto; height: auto;
    background-color: rgba(229, 230, 238, 0.923);    
    border: solid 0.5px;
}
.cart-item {
    position: relative;
    top: 10%; bottom: 10%;
    margin: 0 5% 8px 5%;
    text-align: center;
    width: auto; height: 80px;
    background-color: rgba(229, 230, 238, 0.923);    
    border: solid 0.5px;
}

.cart-item-pet {
    border: solid 0.5px;
}
