img.logo {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 50px; height: 40px;
    margin: 0 20px 0 20px;
    padding: 1px;
    border-radius: 50%;
}
img.logo:hover {
    opacity: 80%;
}
img.cartIcon {
    margin-right: 10px;
    height: 83%; width: auto;
    padding-top: 3%;
}
img.pet {
    width: 100px; height: auto;
    border-radius: 5%;
    cursor: pointer;
}