img.logo {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 50px; height: 40px;
    margin: 0 20px 0 20px;
    padding: 1px;
    border-radius: 50%;
}
img.logo:hover {
    opacity: 80%;
}
img.cartIcon {
    position: absolute;
    top: 50%; left: 10%;
    transform: translate(0, -50%);
    height: 55%; width: auto;
}
img.pet {
    width: 100px; height: 100px;
    object-fit: cover;
    border-radius: 5%;
    cursor: pointer;
}