html, body {
    width: 100%; 
    padding: 0;
    margin: 2px 0 0 0;
    zoom: 1.2;
    background-color: rgb(228, 230, 240);
    caret-color: transparent;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}
header {
    position: sticky;
    top: -44px;
    width: 100%; height: 90px;
    margin: 0;
    background-color: rgb(209, 212, 226);
    border: 0.5px solid rgb(165, 168, 182);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.266);
    
}
div.header-div {
    position: sticky;
    top: 3px;
    margin: 25px 0 0 0;
    padding: 0;
    width: 100%; height: 40px;
}

h4.header {
    position: absolute;
    top: 0; left: 80px;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: rgb(39, 84, 38);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 1px -1px 2px rgba(12, 2, 117, 0.489);
}
h4 span {
    color: rgba(77, 44, 32, 0.808);;
}
.btn-block {
    position: absolute;
    top: 5px; right: 2%;
    display: inline-flex;
}

hr {
    position: sticky;
    top: 40px;
    background: linear-gradient(220deg, rgba(253, 238, 244, 0.627), rgb(232, 238, 240)); 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.677);
}

div.nav {
    position: sticky;
    top: 52px;
    background-color: rgb(209, 212, 226);
    width: 17%; height: 350px;
    float: left;
    margin: 10px 0 0 5px;
    padding: 10px 0 0 0;
    border-radius: 5px;
    border: 0.5px solid rgb(165, 168, 182);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.266);
}

img.logo {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 50px; height: 40px;
    margin: 0 20px 0 20px;
    padding: 1px;
    border-radius: 50%;
    border: solid rgb(95, 183, 95);
}
img.logo:hover {
    opacity: 80%;
}
img.cartImg {
    margin-right: 10px;
    height: 83%; width: auto;
    padding-top: 3%;
}
img.pet {
    height: auto;
    width: 100%;
    border-radius: 5%;
    cursor: pointer;
}

.imageZoomDivWrapper {
    position: fixed;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: auto; height: 100%;
    z-index: 9999999;
    background-color: rgba(134, 137, 157, 0.923);
}
.imageZoom {
    float: left;
    position: inherit;
    top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    left: 0;
    right: 0;
    text-align: center;
    width: auto; height: 95%;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.782);
    border-radius: 1%;
}
.Div {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.left {
    float: left;
    position: relative;
    left: 0;
    width: 15%; height: 100%;
}
.right {
    position: inherit;
    right: 0;
    width: 15%; height: 100%;
}
.Button {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 30%;

}
.Button:hover {
    opacity: 100%;
}
.Button img {
    object-fit: contain;
    width: 30%;
    height: 30%;
}
.close {
    position: inherit;
    top: 20px;
    right: 20px;
    width: auto; height: 5%;
}
.Sign {
    overflow: hidden;
    display: flex;
    cursor: pointer;
    opacity: 40%;
}
.Sign:hover {
    opacity: 100%;
}

.wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}
.exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exmpl img {
    border-radius: 3%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.wrapper1 {
    margin: 5px;
    width: 30px;
    height: 30px;
}
.exmpl1 {
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.exmpl1 img {
    border-radius: 5%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

figure.pets {
    border-radius: 2%;
    display: inline-block;
    padding: 1px 1px 2px 1px;
    margin:  10px 30px 10px 30px;
    width: 100px;
}
figure.photo {
    padding: 1px;
    margin:  10px 40px 10px 40px;
    width: 200px;
}
figure.pets:hover {
    cursor: pointer;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.462);
}
figcaption {
    padding: 0;
    margin: 0;
    line-height: 50%;
    font-size: 65%;
    text-align: center;
}

.comment-section {
    width: 70%; height: auto;
    margin-left: 5%;
    caret-color: black;
}
.textarea {
    width: 100%;
    margin-top: 2px;
}

section {
    color: rgb(0, 0, 0);
    width: 75%; height: 90vh;
    margin: 1% 1% 1% 20%;
}

footer {
    position: fixed; 
    bottom: 0; 
    zoom: 0.7;
    background-color: rgb(209, 212, 226);
    margin: 0;
    padding: 0 0 10px 0;
    border-top: 0.5px solid rgb(165, 168, 182);
    border-color: rgb(128, 128, 128);
    border-radius: 10px;
    width: 100%; height: 50px;
    text-align: center;
}

