body {
    zoom: 2;
    background: linear-gradient(270deg, rgb(194, 194, 232), rgb(215, 232, 238), rgb(209, 209, 242)); 
}
img {
    width: 40px; height: 40px;
    margin: 0 20px 0 20px;
    border-radius: 50%;
    float: left;
}
h1 {
    color: rgb(133, 67, 67);
    text-shadow: 1px -2px 2px rgb(21, 21, 21);
}
section {
    font-size: 80%;
    margin: 20px;
    line-height: 150%;
}
button {
    color: rgb(89, 57, 18);
    font-weight: bold;
    background: linear-gradient(90deg, rgb(238, 150, 165), rgb(172, 216, 230), rgb(233, 150, 164));
    border: 1px solid rgb(182, 96, 110);
    border-radius: 2px;
    margin: 10px 10px 0 20px;
    padding: 4px 10px 3px 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 1);
}
button:hover {
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
}
button:active {
    box-shadow: 0 -5px 7px rgba(0, 0, 0, 1);
    transform: translate(2px, 0);
    transition-duration: .2s;
}
button.selected {
    box-shadow: 0 -5px 7px rgba(0, 0, 0, 1);
    transform: translate(2px, 0);  
}
